body {
    background: rgb(0, 0, 0);
}

#header {
    color: rgb(0, 255, 0);
    font-family: 'Courier New', Courier, monospace;
}

#content {
    background: rgb(90, 90, 90);
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}